
InnovationGame/.vs/*
*.ipch
InnovationChallenge/*
HelloPlayer/.vs/*
HelloPlayer/Content/InfinityBladeIceLands/*
HelloPlayer/Content/KiteDemo/*
HelloPlayer/Content/StarterContent/*
HelloPlayer/Content/InfinityBladeGrassLands/*
HelloPlayer/Content/InfinityBladeAdversaries/*
HelloPlayer/Content/InfinityBladeWarriors/*
